<ng-container *ngIf="book$ | async as book; else loading">

  <h2>{{ book.title }}</h2>
  <h5>{{ book.isbn }}</h5>

  <p *ngIf="showDetails">
    Details:
    {{ book.description }}

    <br>{{test$ | async }}
  </p>

  <button
    (click)="showDetails = !showDetails"
    class="btn btn-primary">Toggle Details</button>

</ng-container>

<ng-template #loading>
  Bitte warten...
</ng-template>

<hr>

<a routerLink="/books/9783864904523">Gehe zu Git (9783864904523)</a><br>
<a routerLink="/books/boom">Gehe zu 404</a>
